body {
    background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.form {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    height: 500px;
    padding: 24px;
}

input[type="text"], input[type="email"], select, textarea {

}